:host {
  display: flex;
  flex: 1;
  align-items: center;
}

.form {
  min-width: 300px;
  max-width: 80%;
  width: 100%;
  margin: auto;
  .mat-form-field {
    width: 100%;
    display: block;
  }
}

button {
  margin-right: 1em;
}

.align-right {
  text-align: right;
}
